$color-font-black: #333333;
$color-link-blue: #0a95ff;
$color-placeholder-gray: #cccccc;

$color-quiet-red-lighter: #f7ebeb;
$color-quiet-red: #f7c3c3;
$color-quiet-red-darker: #f79b9b;

$color-red-like-gray: #d3c9c9;
$color-red-like-gray-darker: #b0a7a7;

$color-dark-blue: #7190bd;
